:root {
  --padding: 2rem;
  --main-linear-color: linear-gradient(to right, #667eea, #764ba2);
  --main-color-1: #667eea;
  --main-color-2: #764ba2;
}

body {
  background: var(--main-linear-color);
}

.main-title {
  color: var(--main-color-1);
  font-size: 2rem;
}

.fill-blank input,
.fill-blank button,
.fill-blank select {
  border-radius: 10px;
  height: 2rem;
}

.fill-blank {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.debb {
  border: solid 1px black;
}

.text-center {
  text-align: center;
}

.item-center {
  display: flex;
  justify-content: center;
}
.hero-container {
  padding: var(--padding);
  margin: var(--padding);
  display: flex;
  justify-content: center;
  width: 50rem;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.submit-button {
  width: 5rem;
  height: 2rem;
  transition: transform 0.3s ease;
}

.submit-button:hover {
  transform: scale(1.1);
}
.submit-button:active {
  transform: scale(1.5);
}
